.sidebar .profile-img {
    min-width: 80px !important;
    min-height: 80px !important;
    max-width: 80px;
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar .fa {
    width: 1.2857142857142858em;
    font-size: 22px;
    vertical-align: middle;
}